@font-face {
  font-family: "Montserrat";
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('opentype');
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "benzin"; 
  src: url('/fonts/benzin-bold.otf') format('opentype');
  font-style: normal; 
  font-weight: bold; 
} 


/* General Styles */
body {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  background-color: #1F1F1F;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.button {
  background: linear-gradient(#6981FF, #2AABEE);
  border-radius: 20px;
  display: block;
}

.header {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 240px;
  background: #323232;
  height: 80px;
}

.header__logo-link {
  display: flex;
  justify-content: space-between;
  width: 73px;
  height: 66px;
}

.logo-link__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-family: benzin;
  font-size: 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__phone {
  font-size: 18px;
}

.promo {
  /* padding: 100px 20px; */
  height: 1074px;
  display: flex;
  flex-direction: column;
  background-image: url('/Promo_img.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.promo__container {
  margin-top: 300px;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 890px;
  height: 465px; 
}

.promo__header {
  font-size: 40px;
  font-weight: bold;
  font-family: benzin;
  text-align: left;
  margin-bottom: 18px;
}

.promo__description {
  max-width: 740px;
  font-size: 24px;
  text-align: left;
  margin-bottom: 108px;
}

.promo__link {
  width: 479px;
  height: 87px;
  font-size: 36px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  /* height: 1200px; */
  width: 80vw;
  margin: 0 10vw 5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about__header {
  font-size: 40px;
  font-weight: bold;
  font-family: benzin;
  margin-bottom: 40px;
}

.about__subheader {
  font-size: 24px;
  margin-bottom: 44px;
}

.about__cards {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  min-width: 80vw;
}

.card {
  width: 25vw;
  max-width: 405px;
  height: 40vh;
  max-height: 307px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-weight: bold;
  font-family: benzin;
  font-size: 32px;
  color: #000;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-cards__pink { 
  background: #EB95FC;
  background-image: url('/pink_card.png');
}
.about-cards__pink.card--active {
  box-shadow: 0px 0px 10px 4px #A054FF;
}

.about-cards__green {
  background: #5BF1D8;
  background-image: url('/green_card.png');
}

.about-cards__green.card--active {
  box-shadow: 0px 0px 10px 4px #45D4BC;
}

.about-cards__blue {
  background: #53A9FF;
  background-image: url('/blue_card.png');
}

.about-cards__blue.card--active {
  box-shadow: 0px 0px 10px 4px #4088E6;
}

.about__information {
  text-align: left;
  color: #000;
  border-radius: 40px;
  width: 80vw;
  padding: 10vh 5vw;
  background-color: #EB95FC;
  display: none;
  justify-content: space-between;
}

.about__information--active {
  display: flex;
}

.about__information--active#industry {
  background: #EB95FC;
}

.about__information--active#events {
  background: #5BF1D8;
}

.about__information--active#marketing {
  background: #53A9FF;
}
.about__text-container {
  width: 30vw;
  max-width: 514px;
}

.about__text-header {
  font-size: 32px;
  font-weight: bold;
  font-family: benzin;
  margin-bottom: 12px;
}

.about__text {
  font-size: 20px;
}


.about__slider .slider {
  border-radius: 40px;
  width: 586px;
  height: 380px;
}

.slider__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__wrapper {
  left: 0px;
  width: 586px;
  height: 380px;
  position: relative;
  transition: left .3s ease-in-out;
}

.slide {
  float: left;
}

.slide__img {
  width: 586px;
  height: 380px;
}

.slider-nav__list{
  width: 100%;
  height: 19px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0; 
  padding: 0;
}

.slider-nav__item{
  background-color: #fff;
  margin-right: 10px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-nav__item--current {
  background-color: #5BF1D8;
}

.slider-arrows {
  display: flex;
  justify-content: center;
  gap: 95px;
}

.arrow {
  cursor: pointer;
  width: 32px;
  height: 18px;
}
.arrow--next {
  transform: rotate(180deg);
}

.about__slider .arrow {
  filter: invert(0%) sepia(29%) saturate(4%) hue-rotate(297deg) brightness(0%) contrast(100%);
}

.cases {
  width: 80vw;
  margin: 0 10vw 10vh 10vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cases__header {
  margin-bottom: 44px;
  font-size: 40px;
  font-family: benzin;
  font-weight: bold;
}

.case__slider {
  margin-bottom: 55px;
}

.case-slider__size {
  width: 708px;
  height: 325px;
}

.case__slider .slider {
  border-radius: 40px;
  /* width: 586px;
  height: 380px; */
  margin-bottom: 55px;
}

.cases-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case__header {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  height: auto;
}

.case__text {
  text-align: left;
  height: auto;
}

.gallery {
  width: 80vw;
  /* height: 100vh; */
  margin: 0 auto 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery__slider .slider  {
  border-radius: 40px;
  /* width: 586px; */
  /* width: 80vw;
  height: 380px; */
  width: 1440px;
  height: 752px;
  margin-bottom: 55px;
}



.gallery-slider__size {
  /* width: 80vw;
  height: 70vh; */
  width: 1440px;
  height: 752px;
}
/* .cases, .gallery, .contact, footer {
  padding: 50px 20px;
} */


.fortnite {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 10vh auto;
  width: 80vw;
}
.fortnite__header {
  margin-bottom: 44px;
  font-size: 40px;
  font-family: benzin;
  font-weight: bold;
}

.fortnite-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.fortnite-item {
  text-align: left;
  width: 35vw;
  margin-bottom: 5vh;
}

.fortnite-item__text{
  font-size: 32px;
}

.fortnite-item__img {
  width: 35vw;
}


.contact {
  width: 50vw;
  max-width: 823px;
  margin: 0 auto 10vh auto;
}

.contact__header {
  margin-bottom: 8px;
  font-size: 40px;
  font-family: benzin;
  font-weight: bold;
}

.contact__text {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  width: 100%;
  border-radius: 40px;
  background-color: #323232;
  padding: 44px 40px;
}

.contact-form__input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 18px 40px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.contact-form__button {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  color: #fff;
  width: 100%;
  height: 66px;
  border: none;
  font-weight: 700;
}

.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  max-width: 823px;
}

.footer__header {
  margin-bottom: 5vh;
  font-size: 40px;
  font-family: benzin;
  font-weight: bold;
  text-align: center;
}

.footer__subheader {
  text-align: center;
  margin-bottom: 5vh;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

.footer-icons__icon {
  width: 10vh;
  height: 10vh;
}